In [48]:
import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect("database2.db")

# Load devices table
devices_df = pd.read_sql_query("SELECT * FROM devices", conn)
devices_df

   switch_id            name      location      device_type  max_power_rating
0      ac_01             AC1       Bedroom               AC             700.0
1      ac_02             AC2   Living Room               AC             700.0
2      ac_03             AC3       Kitchen               AC             700.0
3      mw_01       Microwave       Kitchen        Microwave            1200.0
4      rf_01    Refrigerator       Kitchen     Refrigerator             200.0
5      dw_01      Dishwasher       Kitchen       Dishwasher            1300.0
6      sp_01      SmartPlug1   Living Room       Smart Plug             200.0
7      wm_01  WashingMachine  Laundry Room  Washing Machine            1500.0
8      tv_01              TV   Living Room               TV             150.0
9      lt_01          Light1   Living Room            Light             100.0
10     lt_02          Light2       Kitchen            Light             100.0
11     lt_03          Light3       Bedroom            Light             100.0
12     lt_04          Light4      Bathroom            Light             100.0
13     lt_05          Light5        Office            Light             100.0
14     lt_06          Light6        Garage            Light             100.0

In [49]:
# Load historical energy readings
historical_df = pd.read_sql_query("SELECT * FROM historical_energy_readings", conn)
historical_df["timestamp"] = pd.to_datetime(historical_df["timestamp"])
historical_df

Empty DataFrame
Columns: [switch_id, timestamp, power_consumption]
Index: []

In [50]:
# # Load real-time energy readings
realtime_df = pd.read_sql_query("SELECT * FROM real_time_energy_readings", conn)
realtime_df["timestamp"] = pd.to_datetime(realtime_df["timestamp"])

realtime_df

     switch_id           timestamp  power_consumption
0        wm_01 2025-04-25 03:45:48            1456.65
1        ac_01 2025-04-25 03:45:48             344.18
2        ac_03 2025-04-25 03:45:48             684.18
3        lt_01 2025-04-25 03:45:48              63.05
4        ac_02 2025-04-25 03:45:48             422.01
...        ...                 ...                ...
5158     tv_01 2025-04-25 13:45:48             122.63
5159     dw_01 2025-04-25 13:45:48             909.35
5160     sp_01 2025-04-25 13:45:48              92.92
5161     ac_02 2025-04-25 13:45:48             404.51
5162     lt_04 2025-04-25 13:45:48              25.76

[5163 rows x 3 columns]

In [51]:
predictions_df = pd.read_sql_query("SELECT * FROM predictions", conn)
predictions_df["timestamp"] = pd.to_datetime(predictions_df["timestamp"])
predictions_df

Empty DataFrame
Columns: [timestamp, power_consumption]
Index: []

In [52]:
# Load scheduled tasks table
scheduled_tasks_df = pd.read_sql_query("SELECT * FROM scheduled_tasks", conn)
scheduled_tasks_df["scheduled_time"] = pd.to_datetime(scheduled_tasks_df["scheduled_time"], errors='coerce')  # Handle any nulls in 'scheduled_time'
scheduled_tasks_df

Empty DataFrame
Columns: [task_id, switch_id, target_date, scheduled_time, status]
Index: []

In [53]:
anomalies_df = pd.read_sql_query("SELECT * FROM anomalies", conn)
anomalies_df["timestamp"] = pd.to_datetime(anomalies_df["timestamp"])

anomalies_df

,id,switch_id,device_name,location,timestamp,power_consumption,max_power_rating,excess
0,116,lt_04,Light4,Bathroom,2025-04-25 03:51:48,155.22,100.0,55.22
1,117,dw_01,Dishwasher,Kitchen,2025-04-25 04:33:48,1628.49,1300.0,328.49
2,118,lt_03,Light3,Bedroom,2025-04-25 04:35:48,151.28,100.0,51.28
3,119,lt_03,Light3,Bedroom,2025-04-25 04:45:48,184.92,100.0,84.92
4,120,lt_02,Light2,Kitchen,2025-04-25 05:09:48,123.53,100.0,23.53
5,121,sp_01,SmartPlug1,Living Room,2025-04-25 05:19:48,369.20,200.0,169.20
6,122,mw_01,Microwave,Kitchen,2025-04-25 05:42:48,1584.52,1200.0,384.52
7,123,lt_01,Light1,Living Room,2025-04-25 05:47:48,187.74,100.0,87.74
8,124,sp_01,SmartPlug1,Living Room,2025-04-25 06:02:48,312.76,200.0,112.76
9,125,lt_01,Light1,Living Room,2025-04-25 06:19:48,172.66,100.0,72.66
10,126,lt_03,Light3,Bedroom,2025-04-25 06:20:48,187.33,100.0,87.33
11,127,lt_05,Light5,Office,2025-04-25 06:52:48,177.20,100.0,77.20
12,128,lt_05,Light5,Office,2025-04-25 06:53:48,126.63,100.0,26.63
13,129,lt_04,Light4,Bathroom,2025-04-25 07:13:48,189.49,100.0,89.49
14,130,lt_03,Light3,Bedroom,2025-04-25 07:39:48,122.95,100.0,22.95
15,131,lt_01,Light1,Living Room,2025-04-25 07:40:48,171.18,100.0,71.18
16,132,lt_01,Light1,Living Room,2025-04-25 08:13:48,127.53,100.0,27.53
17,133,lt_03,Light3,Bedroom,2025-04-25 09:01:48,132.34,100.0,32.34
18,134,lt_03,Light3,Bedroom,2025-04-25 09:25:48,170.30,100.0,70.30
19,135,lt_02,Light2,Kitchen,2025-04-25 09:51:48,189.11,100.0,89.11
20,136,lt_05,Light5,Office,2025-04-25 09:57:48,173.14,100.0,73.14
21,137,sp_01,SmartPlug1,Living Room,2025-04-25 10:32:48,274.27,200.0,74.27
22,138,lt_04,Light4,Bathroom,2025-04-25 10:38:48,123.24,100.0,23.24
23,139,mw_01,Microwave,Kitchen,2025-04-25 10:47:48,1549.26,1200.0,349.26
24,140,lt_02,Light2,Kitchen,2025-04-25 11:23:48,194.15,100.0,94.15
25,141,dw_01,Dishwasher,Kitchen,2025-04-25 11:55:48,1547.01,1300.0,247.01
26,142,mw_01,Microwave,Kitchen,2025-04-25 12:05:48,1580.89,1200.0,380.89
27,143,mw_01,Microwave,Kitchen,2025-04-25 13:05:48,1435.89,1200.0,235.89

In [54]:
conn = sqlite3.connect("database2.db")

anomalies_df = pd.read_sql_query("SELECT * FROM anomalies", conn)
anomalies_df["timestamp"] = pd.to_datetime(anomalies_df["timestamp"])

# Group by switch_id and count anomalies
anomaly_counts = anomalies_df.groupby("switch_id").size().reset_index(name="anomaly_count")

anomaly_counts

  switch_id  anomaly_count
0     dw_01              2
1     lt_01              4
2     lt_02              3
3     lt_03              6
4     lt_04              3
5     lt_05              3
6     mw_01              4
7     sp_01              3

In [55]:
conn.close()