In [25]:
import pandas as pd
import sqlite3

def load_energy_data(db_path="database2.db"):
    # Connect to the database
    conn = sqlite3.connect(db_path)

    try:
        # Load all tables
        devices_df = pd.read_sql_query("SELECT * FROM devices", conn)

        historical_df = pd.read_sql_query("SELECT * FROM historical_energy_readings", conn)
        historical_df["timestamp"] = pd.to_datetime(historical_df["timestamp"])

        realtime_df = pd.read_sql_query("SELECT * FROM real_time_energy_readings", conn)
        realtime_df["timestamp"] = pd.to_datetime(realtime_df["timestamp"])

        predictions_df = pd.read_sql_query("SELECT * FROM predictions", conn)
        predictions_df["timestamp"] = pd.to_datetime(predictions_df["timestamp"])

        scheduled_tasks_df = pd.read_sql_query("SELECT * FROM scheduled_tasks", conn)
        scheduled_tasks_df["scheduled_time"] = pd.to_datetime(scheduled_tasks_df["scheduled_time"], errors='coerce')

        anomalies_df = pd.read_sql_query("SELECT * FROM anomalies", conn)
        anomalies_df["timestamp"] = pd.to_datetime(anomalies_df["timestamp"])

        # Group by switch_id and count anomalies
        anomaly_counts = anomalies_df.groupby("switch_id").size().reset_index(name="anomaly_count")

    finally:
        conn.close()

    # Return all DataFrames in a dictionary
    return {
        "devices": devices_df,
        "historical": historical_df,
        "realtime": realtime_df,
        "predictions": predictions_df,
        "scheduled_tasks": scheduled_tasks_df,
        "anomalies": anomalies_df,
        "anomaly_counts": anomaly_counts
    }

In [27]:
data = load_energy_data()

data["devices"]
data["historical"]
data['realtime']
data['predictions']
data['scheduled_tasks']
# data['anomalies']
# data['anomaly_counts']

   task_id switch_id target_date scheduled_time         status
0        1     wm_01  2025-04-27            NaT  not_scheduled
1        2     dw_01  2025-04-30            NaT  not_scheduled
2        3     dw_01  2025-04-29            NaT  not_scheduled